.topcontainer{
    background: url(../../ME/1670470870165.png);
    height: 548px;
    width: 1349px;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
}